.column-first {
  width: calc(50% - 10px);
  padding: 0 0 0 20px;
}

.column-second {
  width: calc(50% - 10px);
  padding: 0 20px 0 0;
}

span {
  .col-2 {
    font-size: 16px;
    color: #61656a;
  }
}

.search-font {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.search-pandel {
  padding: 0 20px;
}

input {
  padding-bottom: 4px !important;
  margin-top: 4px;
}

.filter {
  padding: 0px 15px;
}

.search-search {
  position: absolute;
  left: 1rem;
  top: 10px;
}

.search-input {
  width: calc(100% - 0px);
  padding: 0 10px;
  top: 0px;
  left: 1rem;
  position: sticky;
  z-index: 1;
  background: white;
}

.title-name {
  width: 5rem;
}

mat-expansion-panel{
    background-color: var(--admin_default);
}

.mat-expansion-panel-header{
    border-radius: 8px;
}

.mat-expansion-panel-header-open {
  border-bottom: 1px solid var(--content_background);
  margin: 1rem 0;
}

.mat-action-row{
    border-top-color: var(--content_background);
}

.w-90 {
  width: 90%;
}

.export-button{
    background-color: var(--admin_default);
}