.input-label {
  font-size: 13px !important;
}

.label {
  min-width: 5rem;
}

.field {
  width: 80%;
}

.submit {
  background-color: var(--btn_primary);
  color: var(--admin_default);
  margin-right: 1rem;
}

.submit:disabled {
  background-color: var(--main_gray);
}

.back {
  border: 1px solid var(--btn_primary);
  color: var(--btn_primary);
  margin-right: 1rem;
  background-color: var(--admin_default);
}

.next:disabled {
  border: 1px solid var(--main_gray);
}

.btn {
  width: 100%;
  height: 60px;
}

.form {
  height: calc(100vh - 290px);
  overflow: auto;
}

::ng-deep .mat-form-field-infix {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.email {
  position: relative;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
}

.errorMsg,
.doneMsg {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: bolder;
}

.error {
  color: var(--admin_error);
}

.icon {
  font-size: 16px;
}

.done {
  color: var(--admin_success);
}

.prefix,
.profix,
.none {
  position: relative;
}

.prefix::before {
  content: "";
  height: 55px;
  width: 5px;
  position: absolute;
  background-color: var(--admin_error);
  left: 1px;
  top: 5px;
  border-radius: 5px 0 0 5px;
}

.profix::before {
  content: "";
  height: 55px;
  width: 5px;
  position: absolute;
  background-color: var(--admin_success);
  left: 1px;
  top: 5px;
  border-radius: 5px 0 0 5px;
}

.none::before {
  content: "";
  height: 55px;
  width: 5px;
  position: absolute;
  background-color: inherit;
  left: 1px;
  top: 5px;
  border-radius: 5px 0 0 5px;
}

.icon-edit {
  color: var(--btn_primary);
  cursor: pointer;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

mat-error {
  white-space: nowrap;
}

.exist {
  margin-top: -1.1rem;
  font-size: 12px;
  color: var(--admin_error);
}
